<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Title for the HTML document -->
    <title>Student Confirmation</title>
</head>
<body>

<!-- Heading for the student confirmation page -->
<h3>Student Confirmation</h3>

<!-- Displays the confirmed student's name by concatenating first and last name -->
The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}" />

<br><br>

<!-- Displays the country of the student -->
Country: <span th:text="${student.country}" />

<br><br>

<!-- Displays the student's favorite programming language -->
Favorite Programming Language: <span th:text="${student.favoriteLanguage}" />

<br><br>

<!-- Section to display the student's favorite operating systems -->
Favorite Operating Systems:

<ul>
    <!-- Iterates over each favorite system of the student and displays it as a list item -->
    <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}" />
</ul>


</body>
</html>













